/* für alles */
.Calendar main {
  height: 90vH;
}

.Calendar .event {
   background-color: #e7e7e7;
   margin-top: 1em;
   padding: 1em;
   color: #11748e;
}
.Calendar .event > p {
   color: black;
   margin-top: 1em;
}
.Calendar #Date_Cal {
  color: #fff;
  font-weight: bold;
}

#Cal_Date_Cal {
  display: flex;
  flex-direction: column;
}

.Calendar #ausgabe {
  width: 12em;
  margin: 1em;
  display: inline-block;
  text-align: center;
}

/* Mobile */
.Calendar #SideNav {
  /* display: none; */
  display: block;
}

/* Tablet Landscape */
@media (min-width: 90em) {
  .Calendar #SideNav {
    display: block;
  }
  .Calendar #SideNav_Cal {
    display: flex;
    flex-direction: row;
  }
  .Calendar #Date_Cal {
   flex-direction: column;
  }
  .Calendar #Cal {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
  }
  .Calendar .event {
   /* flex: 1; */
   flex-basis: 20%;
   margin-right: 1em;
}
}

/* Desktop */
@media (min-width: 102em) {
}
